.comment-card {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    width: 100%;
    background-color: #ffe5b4;
    position: relative;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 40px;
}

.container-delete-comment{
    position: absolute;
    top: 10px;
    right: 18px;
}

.username-comment-div{
    display: flex;
    justify-content: center; align-items: center;
    text-align: center;
    width: 100%;
    font-size: 28px;
    font-family: 'MonteCarlo', cursive;
    font-weight: 800;
    letter-spacing: 1px;
}

.time-comment-divs{
    font-size: 22px;
    font-family: 'MonteCarlo', cursive;
    font-weight: 800;
    letter-spacing: 1px;
}

.timestamp-comment-div{
    position: absolute;
    bottom: 3px; right: 15px;
}

.comment-comment-div{
    text-align: justify;
    display: flex; align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 10px;
    font-size: 24px;
    padding-bottom: 60px; /*Previene que timestamp choce con comentario*/
    position: relative;
    overflow: hidden;
}