.comments-section{
    display: flex; 
    flex-flow: column; align-items: center;
    background-color: green;
    padding: 50px 50px;
    width: 80%;
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    margin-top: 50px;
    border-radius: 20px;
}

.create-comment-form {
    display: flex; flex-flow: column;
    align-items: center;
    width: 100%;
}

.textarea{
    outline: none;
    border: none;
    font-family: 'Neuton', serif;
    font-size: 22px;
    resize: none;
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;
    padding: 25px 20px;
    color: rgb(73, 73, 73);
    border-radius: 10px;
}

.submit-comment{
    background: linear-gradient(135deg, rgb(255, 168, 168) 10%, rgb(252, 255, 0) 100%);
    border: none;
    cursor: pointer;
    padding: 5px 0px;
    border-radius: 10px;
    width: 100px;
    font-size: 26px;
    font-family: 'MonteCarlo', cursive;
    font-weight: 800;
    margin-top: 20px;
    letter-spacing: 2px;
}

.comments-area {
    width: 80%;
    padding: 40px 10px;
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.comment-form-div{
    width: 100%;
    display: flex; 
    flex-flow: column;
    padding: 10px 0px;
}

.input-comment{
    outline: none;
    margin-top: 10px;
    padding: 10px 20px;
    font-family: 'Neuton', serif;
    font-size: 22px;
    color: rgb(73, 73, 73);
    border-radius: 10px;
    border: none;
}

.username-comment-label{
    font-size: 26px;
    font-family: 'MonteCarlo', cursive;
    font-weight: 800;
}

.comments-area {
    width: 100%;
}

.no-comments {
    width: 100%;
    color: black;
    text-align: center;
    font-size: 38px;
    font-family: 'MonteCarlo', cursive;
    font-weight: 800;
    letter-spacing: 1px;
}