.comment-card {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    width: 100%;
    background-color: #b2ec5d;
    position: relative;
    border-radius: 10px;
    padding: 20px 10px;
}

.username-comment-div{
    display: flex;
    justify-content: center; align-items: center;
    text-align: center;
    width: 100%;
    font-size: 28px;
    font-family: 'MonteCarlo', cursive;
    font-weight: 800;
    letter-spacing: 1px;
}

.time-comment-divs{
    font-size: 22px;
    font-family: 'MonteCarlo', cursive;
    font-weight: 800;
    letter-spacing: 1px;
}

.timestamp-comment-div{
    position: absolute;
    bottom: 3px; right: 15px;
}