.CreatePost-section{
    width: 100%;
}

.form-post-wrapper{
    background-color: rgb(163, 163, 163);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px 40px; 
}

.create-form-post{
    border-radius: 10px;
    display: flex; flex-flow: column;
    align-items: center;
    width: 70%;
    padding: 30px 20px;
}

.div-form-create{
    display: flex; flex-flow: column;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
}

.label-form-create{
    font-family: 'MonteCarlo', cursive;;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
}

.input-form-post{
    outline: none;
    padding: 12px 22px;
    border: none;
    border-radius: 20px;
    font-size: 26px;
    font-family: 'Neuton';
    width: 100%;
}

.input-form-post:focus{
    border: 2px solid black;
}

.post-submit-form{
    background: linear-gradient(135deg, rgb(255, 168, 168) 10%, rgb(252, 255, 0) 100%);
    border: none;
    cursor: pointer;
    padding: 5px 0px;
    border-radius: 10px;
    width: 100px;
    font-size: 26px;
    font-family: 'MonteCarlo', cursive;
    font-weight: 800;
    margin-top: 20px;
    letter-spacing: 2px;
}