.CreatePost-section{
    width: 100%;
}

.form-post-wrapper{
    background-color: rgb(163, 163, 163);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px 40px; 
}

.create-form-post{
    border-radius: 10px;
    display: flex; flex-flow: column;
    align-items: center;
    width: 70%;
    padding: 30px 20px;
}

.div-form-create{
    display: flex; flex-flow: column;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
}

.label-form-create{
    font-family: 'MonteCarlo', cursive;;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
}
