@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

.footer {
    width: 100%;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    font-family: 'Passion One', cursive;
}

.footer .logo {
    font-size: 46px;
    color: white;
}

.footer-odin {
    font-size: 20px;
    color: white;
}