@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

.login-section{
    display: flex; flex-flow: column;
    width: 100%;
}

.form-login-wrapper{
    width: 100%;
    padding: 60px 50px;
    padding-bottom: 100px;
    background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    display: flex; 
    justify-content: center;
}

.form-login{
    display: flex; flex-flow: column;
    align-items: center;
    padding: 30px 30px;
    border-radius: 10px;
    width: 60%;
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.form-login .form-login-div{
    display: flex; flex-flow: column;
    align-items: flex-start;
    width: 100%;
}

.form-login input {
    outline: none;
    padding: 12px 15px;
    border-radius: 5px;
    width: 100%;
    border: none;
    color: rgb(73, 73, 73);
    font-family: 'Neuton', serif;
    font-size: 24px;
}

.label-login{
    font-family: 'MonteCarlo', cursive;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 26px;
}

.login-title {
    font-family: 'MonteCarlo', cursive;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 36px;
    text-align: center;
}

.login-button{
    background: linear-gradient(135deg, rgb(255, 168, 168) 10%, rgb(252, 255, 0) 100%);
    border: none;
    cursor: pointer;
    padding: 5px 0px;
    border-radius: 10px;
    width: 100px;
    font-size: 26px;
    font-family: 'MonteCarlo', cursive;
    font-weight: 800;
    margin-top: 20px;
    letter-spacing: 2px;
}

.pwd-section{
    margin-top: 20px;
}

@media (max-width: 1100px) {
    .form-login-wrapper{
        padding: 60px 30px;
    }

    .form-login{
        border-radius: 10px;
        width: 90%;
    }
}

@media (max-width: 660px) {
    .login-title{
        font-size: 30px;
    }

    .form-login-wrapper{
        padding: 60px 10px;
    }
}


@media (max-width: 600px) {
    .form-login input{
        font-size: 20px;
    }

    .form-login label{
        font-size: 24px;
    }

    .form-login{
        padding: 30px 20px;
    }

    .login-button{
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .login-title{
        font-size: 23px;
    }

    .form-login input{
        font-size: 17px;
    }

    .form-login label{
        font-size: 21px;
    }
}