@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

.navbar {
    width: 100%;
    background-color: #121212;
    font-family: 'Passion One', cursive;
    position: fixed;
    z-index: 21;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-sub-container,
.navbar-sm{
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    font-size: 46px;
    color: white;
}

.navbar .a-links{
    color: rgba(255, 255, 255, 0.749);
    font-size: 22px;
    display: flex;
    align-items: center;
}

.sign-in{
    margin-left: 50px;
    font-family: 'MonteCarlo', cursive;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    /* Created with https://www.css-gradient.com */
    background: #EA832A;
    background: -webkit-linear-gradient(right, #EA832A, #FFA201);
    background: -moz-linear-gradient(right, #EA832A, #FFA201);
    background: linear-gradient(to left, #EA832A, #FFA201);
}

.create-link{
    margin-left: 50px;
    font-family: 'MonteCarlo', cursive;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    /* Created with https://www.css-gradient.com */
    background: #2AEADB;
    background: -webkit-linear-gradient(right, #2AEADB, #49DA1F);
    background: -moz-linear-gradient(right, #2AEADB, #49DA1F);
    background: linear-gradient(to left, #2AEADB, #49DA1F);
}

.a-links .first-navbar-link{
    margin-right: 50px;
}

.a-links .link-navbar{
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.activeLink {
    color: white;
}

a{
    color: rgba(255, 255, 255, 0.749);
    text-decoration: none;
}

.unpublished-link{
    margin-left: 50px;
}

.navbar-item{
    display: flex;
    justify-content: space-evenly;
}

.navbar-item .link-navbar {
    margin: 0px 0px 0px 50px;
}

/*Responsive section*/

.svg-responsive-nav{
    width: 44px;
    height: 44px;
    position: relative;
    display: none;
    color: white;
    cursor: pointer;
}

.svg-responsive{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.svg-close{
    visibility: hidden;
}

.svg-burger{
    visibility: visible;
}

.navbar-sm{
    display: none;
    position: absolute;
    width: 100%; height: 100%;
    z-index: -10;
}

@media (max-width: 920px) {
    .svg-responsive-nav{
        display: flex;
    }

    .navbar-item.a-links,
    .navbar-ld{
        display: none;
    }

    .navbar-sm{
        display: flex;
    }
}