@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

.postCard {
    display: flex; flex-flow: column;
    width: 250px; height: 300px;
    padding-top: 20px;
    justify-content: flex-start; align-items: center;
    background-color: #fffffe;
    color: #0a0a0a;
    font-family: 'MonteCarlo', cursive;
    font-size: 30px;
    font-weight: 900;
}

.Link-Router {
    color: black;
}