@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

.postCard {
    display: flex; flex-flow: column;
    width: 300px; height: 180px;
    justify-content: flex-start; align-items: center;
    color: #0a0a0a;
    font-family: 'MonteCarlo', cursive;
    font-size: 32px;
    font-weight: 900;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}

.timestamp-post-card{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 20px;
}

.timestamp-button{
    display: flex; flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%; height: 100%;
    padding-left: 20px;
    background-color: white;
}

.title-post-card{
    background-color: #2d2b2b;
    width: 100%;
    text-align: center;
    padding: 40px 0px;
    color: orange;
    position: relative;
}

.read{
    border: none;
    border-radius: 20px;
    font-size: 20px;
    background-color: green;
    padding: 0px 20px;
    background: linear-gradient(135deg, rgb(252, 207, 49) 10%, rgb(245, 85, 85) 100%);
    font-weight: 900;
    font-family: 'MonteCarlo', cursive;
    cursor: pointer;
}

.Link-Router {
    border: none;
    border-radius: 20px;
    font-size: 20px;
    background: linear-gradient(135deg, rgb(252, 207, 49) 10%, rgb(245, 85, 85) 100%);
    font-weight: 900;
    font-family: 'MonteCarlo', cursive;
    cursor: pointer;
}

.container-edit-delete{
    position: absolute;
    display: flex; 
    background-color: white;
    border-radius: 5px;
    top: 0px;
    right: 0px;
    z-index: 1;
    padding: 5px 6px;
    transition: opacity 250ms ease-in-out;
    opacity: 0;
}

.postCard:hover > .container-edit-delete {
    opacity: 1;
}

.svg-edit-delete{
    width: 24px; height: 24px;
    cursor: pointer;
}

.container-edit-delete-No-Token{
    display: none;
}

.a-svg-edit-delete{
    width: 24px; height: 24px;
    margin-left: 10px;
    display: flex; 
    align-items: center; justify-content: center;
    color: black;
}

.msg-are-u-sure{
    position: absolute;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    width: 100%; height: 100%;
    z-index: 20;
    top: 0px;
    color: black;
    padding: 5px 10px;
}