.post-component{
    padding: 120px 50px;
    width: 100%;
    color:black;
    display: flex; flex-flow: column;
    align-items: center;
}

.post-component-title {
    font-size: 50px;
    margin: 0px;
    margin-bottom: 20px;
}