.postCard {
    display: flex; flex-flow: column;
    width: 280px; height: 250px;
    border-radius: 10px;
    justify-content: center; align-items: center;
    background-color: rgb(235, 232, 232);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Link-Router {
    color: black;
}