.post-component{
    padding: 120px 50px;
    width: 100%;
    color:black;
    display: flex; flex-flow: column;
    align-items: center;
}

.post-component-title {
    font-size: 50px;
    margin: 0px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: solid 1px black;
    width: 60%;
    text-align: center;
}