.home{
    /*background-color: white;*/
    background-image: url('../assets/bg-blog.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Passion One', cursive;
    color: white;
    padding-top: 30px;
}

.bg-opacity{
    width: 100%; min-height: 100vh;
    padding: 0px 60px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

.presentation-h1 {
    font-size: 120px;
    letter-spacing: 2px;
    font-weight: 100;
    padding: 10px 0px; margin: 0px;
    z-index: 3;
    text-align: center;
}

.span-h1{
    margin-left: 5px;
    height: 100%;
    border: 2px rgb(72, 71, 71) solid;
}

.presentation-p{
    font-size: 24px;
    font-weight: 0;
    z-index: 3;
    text-align: justify;
}

@media (max-width: 900px){
    .presentation-h1{
        font-size: 100px;
    }

    .bg-opacity{
        padding: 0px 40px;
    }
}

@media (max-width: 740px){
    .presentation-h1{
        font-size: 80px;
    }

    .bg-opacity{
        padding: 0px 20px;
    }
}

@media (max-width: 460px){
    .home{
        padding-top: 80px;
    }
}

@media (max-width: 400px){
    .bg-opacity{
        padding-top: 20px;
    }
}