.presentation{
    background-color: white;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.presentation-h1 {
    font-size: 60px;
}

.span-h1{
    margin-left: 5px;
    height: 100%;
    border: 2px rgb(72, 71, 71) solid;
}